@media all and (max-width: 1221px) {
    .main-background{
        width: 100% !important;
    }
    .main-background:before {
        width: 100% !important;
    }
}

@media all and (max-width: 1133px){
    .partners{
        width: 90%;
        max-width: 90%;
    }
    .footer-box{
        width: 90% !important;
    }
}

@media all and (max-width: 992px){
    .main-background:before{
        height: 2150px !important;
    }
}

@media all and (max-width: 961px){
    .steps__form{
        flex-direction: column;
        justify-content: space-between !important;
    }
    .main-background:before {
        height: 2200px !important;
    }
    .post-currency-for-input-mobile{
        width: 64% !important;
        padding: 6px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 2px;
        box-sizing: border-box;
        transition: 0.3s;
        display: block !important;
        align-items: center;
        justify-content: center;
    }
    .box-currencys-for-inputs_crypto{
        align-items: center !important;
        padding-left: 0!important;
        padding-right: 0!important;
    }
    #crypto-title {
        width: 54% !important;
        font-size: 13px;
        padding: 15px 0 0 0 !important;
    }
    .img-currency-box_crypto{
        display: inline-block !important;
    }
    .right-steps__form {
        width: 66% !important;
    }
    .rest_steps{
        width: 27% !important;
    }
}

@media all and (max-width: 961px){
    .main-background:before {
        height: 2290px !important;
    }
}

@media all and (max-width: 818px){
    .steps__form{
        flex-direction: column !important;
    }
    .rest_steps {
        width: 40% !important;
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        margin: 0 auto;
    }
    .right-steps__form {
        display: block;
        margin: 0 auto;
    }
    .title_cash_currency {
        justify-content: space-around !important;
    }
    .main-background:before {
        height: 3000px !important;
    }
}